[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=qGolfTracker
Exec=invoker --single-instance --type=d /opt/qgolftracker/bin/qgolftracker
Icon=/usr/share/icons/hicolor/scalable/apps/qgolftracker.svg
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
